In [2]:
import pandas as pd
import numpy as np 
import os

In [3]:
path_test_directory = './Data/Test/' 
# path_tls_csv = os.path.join(path_test_directory, 'tls_test_01.pcapng.csv') 
# path_tls_reassemble_csv = os.path.join(path_test_directory, 'reassemble_tls_test_01.pcapng.csv') 
path_merge_csv = os.path.join(path_test_directory, 'merge_tls_test_01.pcapng.csv')

In [4]:
df_merge = pd.read_csv(path_merge_csv) 
df_merge.shape

(1983, 264)

In [5]:
"""
Filter out columns that all NaN. 
"""
all_nan = df_merge.isna().all() 
# choose the cols not all nan
cols_not_nan = all_nan[~all_nan].index 
df_merge = df_merge[cols_not_nan]

In [8]:
def list_to_integer_code(df: pd.DataFrame, col_name = 'reassembled_segments'): 
    """
    Turn the specific column into the integer code for convenience. 

    Returns
    -------
    value_to_code: dict
        {(): 0, (1, 2): 1, ...} 
    """
    value_to_code = {} 
    code = 0 
    for value in df[col_name]: 
        if value == '[]': # '[]' represents no reassembled segments
            value_to_code[value] = -1 
        if value not in value_to_code: 
            value_to_code[value] = code 
            code += 1 
    return value_to_code

In [9]:
list_to_integer = list_to_integer_code(df_merge) 
# print(list_to_integer)

In [16]:
df_merge['reassembled_segments'] = df_merge['reassembled_segments'].apply(lambda x: list_to_integer[x])

In [ ]:
"""
Fill NaN with the special code 'ffff'. 
"""
df_merge_filled = df_merge.fillna('ffff')

In [12]:
unique = df_merge_not_nan.apply(lambda x: x.unique())

In [17]:
print(unique['ip_id'])

['3634' '8eb4' '0000' ... '48da' '98e9' '48db']

In [16]:
for idx in unique.index: 
    arr = unique[idx].copy() 
    arr[np.isnan(arr)] = -1 
    unique[idx] = arr

In [7]:
df_merge_tls.to_csv(os.path.join(path_test_directory, "merge_tls_test.csv"))

In [6]:
df_tls_csv.describe()

,Unnamed: 0,stream,completeness,completeness_rst,completeness_fin,completeness_data,completeness_ack,completeness_syn_ack,completeness_syn,completeness_str,...,handshake_server_curve_type,handshake_server_point_len,handshake_sig_len,handshake_client_point_len,analysis_spurious_retransmission,reassembled_in,options_sack_dsack,resumed,alert_message,analysis_fast_retransmission
count,1983.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.0,9.000000,9.0,9.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,991.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,31.666667,100.0,31.666667,NaN,NaN,NaN,NaN,NaN,NaN
std,572.587111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,11.067972,0.0,11.067972,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,20.000000,100.0,20.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,495.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,20.000000,100.0,20.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,991.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,41.000000,100.0,41.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,1486.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,41.000000,100.0,41.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,1982.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,41.000000,100.0,41.000000,NaN,NaN,NaN,NaN,NaN,NaN